%estilo-subtitulo {
    text-align: center;
    font-family: 'Alegreya', serif;
    font-weight: 700;
    font-size: 4vw;
}

%tamaño-caja {
    width: 45vw;
    height: 3.5vh;
    margin: 3px;
    border-radius: 8px;
    font-size: 3vw;
}