.banner {
    display: flex;
    flex-direction: column;
    align-items: center;

    .tituloBanner {
        text-align: center;
        animation-name: zoom;
        animation-duration: 0.5s;
        animation-iteration-count: unset;

        .textoPrincipal {
            @include font-style (700);
            font-size: 12vw;
            line-height: 1.2;

            .colorLila {
                color: #bb3566;
            }
        }

        h2 {
            @include font-style (400);
            font-size: 8vw;
        }
    }

    .imgBanner {
        height: 95vw;
    }
}