header {
    .nav-color {
        background-color: rgb(49, 49, 50);
    }

    .navbar-toggler {
        padding: 0px;
    }

    a {
        .logo {
            width: 1.7rem;
        }
    }

    .navbar-nav {
        width: 100%;
        justify-content: flex-end;

        .nav-item {
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .nav-link.active {
            color: white;
            font-family: 'Alegreya', serif;
            font-size: 1.1rem;
        }
    }
}